@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');
*{
    overflow: hidden;
}
.about-container {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-container::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    z-index: -1;
  }

  
#about {
    padding: 40px;
  }
  
  #about h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  
  #about p {
    font-size: 16px;
    line-height: 1.5;
    color: #555555;
  }
  
  @media screen and (max-width: 768px) {
    #about h2 {
      font-size: 24px;
    }
  
    #about p {
      font-size: 14px;
    }
  }
  
  /* Animation */
  #about h2,
  #about p {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s ease-in-out forwards;
  }
  
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.logo {
    font-family: "Your Custom Font", cursive;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}
.nav-links li::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
}

.nav-links li:hover::after {
    transform: scaleX(1);
}