/* Reset some default styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}


/* Basic styles for the layout */
body {
  font-family: Arial, sans-serif;
  color: #333; /* Default text color */
  overflow-x: hidden      ;
}

header {
  background-color: #77c14b; /* Coral color for header background */
  color: #fff; /* White text color for header */
  padding: 20px;
}

/* nav */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #77C14B; /* Coral color for header background */
  color: #fff; /* White text color for header */
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

/* Style for recipe card container */
.recipe-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Style for recipe card */
.recipe-card {
  background-color: #f8f4e3; /* Light beige color for recipe card background */
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.recipe-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #77c14b; /* Coral color for recipe title */
}

.recipe-card p {
  font-size: 14px;
  color: #777;
}

/* Style for footer */
.footer {
  background-color: #353535; /* Dark gray color for footer background */
  color: #fff; /* White color for footer text */
  padding: 20px;
  text-align: center;
}

.footer a {
  color: #77c14b; /* Coral color for footer links */
}

/* footer */
footer {
  background-color: #77c14b; /* Coral color for footer background */
  color: #fff; /* White text color for footer */
  padding: 10px;
  text-align: center;

  left: 0;
  bottom: 0;
  width: 100%;
  flex-shrink: 0; /* Prevent footer from shrinking */
}

@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  header h1 {
    font-size: 24px;
  }

  nav ul li {
    margin-right: 5px;
  }

  main {
    padding: 10px;
  }

  .recipe-card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  footer {
    padding: 5px;
  }
}
.advice {
  grid-column: 1 / span 3;
  grid-row: 1;
  align-items: center;
  font-weight: bolder;
  font-size: xx-large;
}

.container {
  display: grid;
  gap: 30px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: start;
  padding: 20px;
  font-size: 15px;
  border-style: solid;
  border-color: #ffffff;
  box-shadow: 3px 3px 3px 3px #76c14b8e;
}
.item1 {
  grid-column: 1 / span 3;
  grid-row: 2;
}

.item2 {
  grid-column: 1 / span 3;
  grid-row: 3;
}

.item3 {
  grid-column: 1 / span 3;
  grid-row: 4;
}

.item4 {
  grid-column: 1 / span 3;
  grid-row: 5;
}

.item5 {
  grid-column: 1 / span 3;
  grid-row: 6;
}
.item6 {
  grid-column: 1 / span 3;
  grid-row: 7;
}
.item7 {
  grid-column: 1 / span 3;
  grid-row: 8;
}
.item8 {
  grid-column: 1 / span 3;
  grid-row: 9;
}
.item9 {
  grid-column: 1 / span 3;
  grid-row: 10;
}
.item10 {
  grid-column: 1 / span 3;
  grid-row: 11;
}

.special {
  display: grid;
  gap: 15px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
}
.grid-special {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 15px;
  font-size: 15px;

  box-shadow: 3px 3px 3px 3px #76c14b8e;
}

.case1 {
  grid-column: 1 / span 1;
  grid-row: 1;
  font-weight: bolder;
  box-shadow: none;
}
.case11 {
  grid-column: 1 / span 1;
  grid-row: 2;
}
.case2 {
  grid-column: 1 / span 1;
  grid-row: 3;
  font-weight: bolder;
  box-shadow: none;
}
.case22 {
  grid-column: 1 / span 1;
  grid-row: 4;
}
.case3 {
  grid-column: 1 / span 1;
  grid-row: 5;
  font-weight: bolder;
  box-shadow: none;
}
.case33 {
  grid-column: 1 / span 1;
  grid-row: 6;
}
.case4 {
  grid-column: 1 / span 1;
  grid-row: 7;
  font-weight: bolder;
  box-shadow: none;
}
.case44 {
  grid-column: 1 / span 1;
  grid-row: 8;
}

@media all and (max-width: 1560px){
    .container{
    padding: 50px;
}
.special {
    padding: 50px;
}
}

.advCards {
    display: flex;
    padding: 80px;
    gap:50px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.card1 {

    height: 20vh;
    width: 30vw;
    border-radius: 50px;
    box-shadow: 20px 20px 40px #77c14b,
               -20px -20px 40px #ffffff;
}
.card2 {
    height: 200px;
    width: 150px;
    border-radius: 50px;
    box-shadow: 20px 20px 40px #77c14b,
               -20px -20px 40px #ffffff;
}
.card3 {
    height: 200px;
    width: 150px;
    border-radius: 50px;
    box-shadow: 20px 20px 40px #77c14b,
               -20px -20px 40px #ffffff;
}
.card4 {
    height: 200px;
    width: 150px;
    border-radius: 50px;
    box-shadow: 20px 20px 40px #77c14b,
               -20px -20px 40px #ffffff;
}

